* {
    font-family: Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large
}

.env {
    color: rgb(200, 216, 225);
}



.npcdialogue {
    font-size:x-large;
    font-style: oblique;
    color: white;
}




.pcdialogue {
    font-style:oblique;
    font-size: x-large;
}




.pcprintd {
    font-size:x-large;
    font-style:oblique;
    color: white;
}

.pcprinta {
    color: rgb(190, 190, 190);
}